.Home {
 .home-comingsoon{
   color:darkred;
   text-transform: uppercase;
   letter-spacing: 0.5rem;
   font-style: italic;
   font-size:2.5em;
   font-weight: 700;
 }
  align-items: center;
  align-content: center;
  text-align: center;

  .home-container {
    margin: 3em 10em;

    .home-link {
      color: red;
    }
  }

  .home-img{
    margin: 1em 0;
  }
}